
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    &.about-banner {        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 13.75rem;
        padding-bottom: 11rem;
    }
}
