/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {    
	border-bottom-left-radius: 2rem; 
	border-bottom-right-radius: 2rem;
	padding-top: 13.75rem;
	padding-bottom: 11rem;
}

.contact-icons {
	li {
		list-style: none;
		padding-top: 0.5rem;
	}
}