
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


.history {
	h3 {
		font-size: 2.25rem;
	}

	p {
		font-size: 0.9325rem;
		color: #9c9c9f;
		line-height: 1.5rem;
	}
}

.carousel-indicator {
	margin-top: 7rem;

	li {
		list-style: none;
		border-top: 8px solid $theme-color;
		width: 3rem;
		padding: 0rem;
		border-radius: 2rem;
	}

	@include media-breakpoint-down(sm) {
		margin-top: 2rem;
	}
}