
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #1d1d1d;

	hr {
		background-color: #5c5b59;
		margin: 2.5rem 0;
	}

	a {
		text-decoration: none !important;
	}
}

#footer-main {
	padding-top: 3rem;
	font-size: 0.685rem;
	padding-bottom: 3rem;
}


#copyrights {
	color: #595959;
	font-weight: 600;	
	line-height: 2;
	z-index: 1;	
	font-size: 0.875rem;
}