
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #1d1d1d;
	color: #686868;
	padding-top: 2.8125rem;
	padding-bottom: 2.8125rem;

	a {
		color: #686868;
	}
}

#footer-main {
	font-size: 0.685rem;
}

#copyrights {			
	font-size: 0.875rem;
	
	line-height: 2;	
	z-index: 1;	
}