
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-weight: 500;
		line-height: 7rem;
		margin-bottom: 4.25rem;
	}

	.sub-title {
		font-weight: 500;
		font-size: 1.875rem;
		margin-bottom: 2.375rem;
	}
}