
/* ----------------------------------------------------------------

	Service.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Service
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for Service pages. Thanks!
-----------------------------------------------------------------*/


.service {
	position: relative;
	margin-bottom: 2.875rem;

	.service-image {
		position: relative;

		img {
			border-radius: 1.5rem;
			border-bottom-right-radius: 0;
			width: 100%;
		}
	}

	.service-btn {
		width: 11rem;
		flex: 0 0 auto;

		a {
			border-bottom-left-radius: 0;
			border-top-right-radius: 0;
			color: #f4f3f7;
			font-family: $body-font;
			font-size: 1rem;
			
			text-decoration: none;
			padding: 1.6875rem 2.25rem;
			width: 100%;
		}
	}

	.service-details {
		padding-top: 1rem;
		margin-top: -1rem;
		background-color: #f4f2ff;
		border-bottom-left-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem;

		.service-title {
			padding: 1.125rem 1.875rem;

			h3 {
				color: $secondary;
				font-size: 1.5rem;
				font-weight: 500;
				line-height: 1.1;
			}			
		}
	}
}