
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	position: relative;		
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;		
		width: 100%;
		z-index: 1;
	}
}

/* Product
-----------------------------------------------------------------*/
.product {
	margin-bottom: 1.875rem;
	position: relative;

	.product-image {
		position: relative;

		img {
			width: 50%;
			border-radius: 1rem;
		}

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			@include transition(all 0.3s ease-in-out);
		}
	}

	.product-details {
		padding: 6rem 3rem 3rem;
		background-color: $white;
		border-radius: 1.5rem;
		margin-top: -4.5rem;
	}

	.product-price {
		font-size: 1.875rem;
		font-family: $heading-font;
		font-weight: 300;
		line-height: 1;
		color: $secondary;

		del {
			color: #f1d0cb;
			margin-left: 1rem;
		}
	}

	.product-categories {
		a {
			color: #8d8d90;
			font-size: 0.875rem;
			text-decoration: none;
		}
	}

	.product-title {
		font-size: 1.0625rem;
		font-weight: 400;

		a {
			color: $secondary;
			text-decoration: none;
		}
	}

	.product-rating {
		line-height: 1;
		color: #979797;

		i {
			color: #9ad076;
			font-size: 1rem;

			&.empty {
				color: rgba(#9ad076, 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		right: 2.4rem;
		bottom: 3rem;
		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	.add-to-cart {
		padding: 1.5rem;
		border-radius: 50%;
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	font-family: $body-font;
    font-size: .875rem;
    line-height: 1;
    font-weight: 400;
    padding: .8rem 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-bottom-right-radius: 0.875rem;
}

.onhot {
	background-color: #ff3263;
	color: $white;
}

.onnew {
	background-color: $theme-color;
	color: $white;
}

.onbest {
	background-color: #8b5ec7;
	color: $white;
}

.ontop {
	background-color: #5adbde;
	color: $white;
}

.onsale {
	background-color: #ffc83a;
	color: $white;
}

.banner-wishlist {
	position: absolute;
	top: 0;
	right: 0;
	color: #fe3362;
}





/* Ads
-----------------------------------------------------------------*/

.ads {
    position: relative;
    display: block;

	.ads-bg {
		img {
			height: 100%;

			&.rounded-right {
				border-top-right-radius: 2rem;
				border-bottom-right-radius: 2rem;
			}

			&.rounded-left {
				border-top-left-radius: 2rem;
				border-bottom-left-radius: 2rem;
			}
		}
	}

	&.ads1 {

		.ads-body {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 100%;

			h2 {
				font-size: 8rem;
				font-weight: 500;
			}

			p {
				font-size: 3.5rem;
				line-height: 4rem;
			}

			a {
				font-size: 1rem;
				color: $white;
				text-decoration: none;
				font-family: $body-font;
			}
		}

		@include media-breakpoint-down(sm) {
			padding: 0 !important;

			.ads-bg {
				img {
					border-radius: 0 !important;
				}
			}

			h2 {
				font-size: 4rem !important;
				margin: 0 !important;
			}

			p {
				font-size: 2.5rem !important;
				line-height: 2.5rem !important;
			}
		}
	}
}


.testimonials-image {
	@include media-breakpoint-down(lg) {
		padding: 0 !important;
	}
}

.testimonials {
	h1 {
		margin-top: -5rem;

		@include media-breakpoint-down(sm) {
			margin-top: -3rem;
		}
	}

	.testimonials-image {
		position: relative;
		top: -12rem;
		z-index: -1;
		margin-bottom: -15rem;

		@include media-breakpoint-down(sm) {
			top: 0;
			margin-bottom: 0;
		}
	}

	.testimonials-details {
		.testimonials-title {
			font-size: 1.875rem;
		}
	
		p {
			font-size: 1.0625rem;
			color: $secondary;
			line-height: 1.5rem;
		}
	
		.testimonials-rating {
			i {
				color: $theme-color;
				font-size: 0.75rem;
				padding-right: 0.3rem;
			}
		}
	
		.author-name {
			p{
				color: #bbbbbc !important;
				font-size: 0.875rem;
			}
		}
	}

}