
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	position: relative;		
	@include transition(all 0.5s ease-in-out);

	.category-desc {
		position: absolute;
		left: 0;
		bottom: 0;		
		width: 100%;
		z-index: 1;
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	margin-bottom: 1.875rem;
	position: relative;

	.product-image {
		position: relative;

		> a {
			background-color: white;
			display: block;
			position: relative;		
			padding-top: 2.8125rem;	
			width: 100%;		

			img {
				border-radius: 1rem;
				position: relative;
				max-height: 18.125rem;
			}
		}

		> a:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;			

			@include transition(all 0.3s ease-in-out);
		}
	}

	.product-details {
		padding: 6rem 3rem 3rem;
		background-color: $white;
		border-radius: 1.5rem;
		margin-top: -4.5rem;
	}

	.product-price {
		font-size: 1.875rem;
		font-family: $heading-font;
		font-weight: 300;
		line-height: 1;
		color: $secondary;

		del {
			color: #f1d0cb;
			margin-left: 1rem;
		}
	}

	.product-categories {
		a {
			color: #8d8d90;
			font-size: 0.875rem;
			text-decoration: none;
		}
	}

	.product-title {		
		font-family: $body-font;
		font-weight: 400;

		a {
			color: $secondary;
			text-decoration: none;
		}
	}

	.product-rating {
		line-height: 1;
		color: #979797;

		i {
			color: #9ad076;
			font-size: 1rem;

			&.empty {
				color: rgba(#9ad076, 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		right: 2.4rem;
		bottom: 3rem;

		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	.add-to-cart {
		padding: 1.5rem;
		border-radius: 50%;
	}
}

.onbest,
.ontop,
.onnew,
.onhot,
.onsale {
	font-family: $body-font;
    font-size: .875rem;
    line-height: 1;
    font-weight: 400;
    padding: .8rem 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-bottom-right-radius: 0.875rem;
}

.onhot {
	background-color: #ff3263;
	color: $white;
}

.onnew {
	background-color: $theme-color;
	color: $white;
}

.onbest {
	background-color: #8b5ec7;
	color: $white;
}

.ontop {
	background-color: #5adbde;
	color: $white;
}

.onsale {
	background-color: #ffc83a;
	color: $white;
}


/* Ads
-----------------------------------------------------------------*/
.ads {
	position: relative;
	display: block;
	overflow: hidden;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;
	}

	&.ads1 {
		@include media-breakpoint-up(lg) {
			border-top-right-radius: 2.25rem;
			border-bottom-right-radius: 2.25rem;
			height: 100%;
		}		

		.ads-body {
			padding-top: 6.25rem;
			padding-bottom: 7.125rem;
			padding-left: 16.5rem;

			h2 {
				font-size: 3.5rem;
				line-height: 4rem;
			}
		}
	}

	&.ads2 {
		@include media-breakpoint-up(lg) {
			border-top-left-radius: 2.25rem;
			border-bottom-left-radius: 2.25rem;
			height: 100%;
		}

		.ads-body {
			padding-top: 6.25rem;
			padding-bottom: 7.125rem;
			padding-left: 7.5rem;

			h2 {
				font-size: 8rem;
				font-weight: 500;
				line-height: 1;
			}
		}
	}
}