
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	p {
		font-family: $body-font;
		font-weight: 400;
		line-height: 1.5rem !important;
		color: #666666;
	}

	a {
		font-family: $body-font;
		font-weight: 400;
	}

	.widget-title {
		color: #a5a5a5;		
		font-size: 0.875rem;
		margin-bottom: 1.375rem;
		font-family: $body-font;
	}	

	// Widget - Social
	&.widget-social {
		.social-icons {

			padding: 0;
			
			list-style: none;

			li {
				padding: 0 0.25rem;

				&:last-child {
					padding-right: 0;
				}
		
				a {
					color: #787878;		
					background-color: #2e2e2e;
					display: inline-block;
					line-height: 1.8125rem;
					width: 2.8125rem;
					height: 2.8125rem;		
					vertical-align: middle;
					text-align: center;
					border-radius: 0.5rem;	

					@include transition(all 0.3s ease-in-out);
		
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
						padding: 0.5rem;
						font-size: 1.5rem;
					}

					&.contact {
						color: $primary !important;
						background-color: $white;
						border-radius: 50%;
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			list-style: none;

			li {

				margin-bottom: 0.7rem;

				a {
					color: #868686;
					font-weight: 600;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 0.875rem;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	@include media-breakpoint-down(md) {

		&.widget-links {

			.widget-content {
				justify-content: space-between;
			}

			ul {
				width: auto;
				margin: auto;
			}
		}
}

	// Widget - Payments
	&.widget-payment {

		p {
			color: #a5a5a5;
			font-size: 0.875rem;
			display: block;
			text-decoration: none;
			font-family: $body-font;
		}
		.payments {

			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: .5rem;
				width: 5rem;
				height: 3rem;
				background-color: #2e2e2e;
				padding: 0.2rem;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 0.5rem !important;

				@include media-breakpoint-down(sm) {
					width: 4rem !important;
				}

				&.visa {
					background-image: url(../images/payments/visa.png);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.png);
				}

				&.express {
					background-image: url(../images/payments/express.png);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.png);
				}

				&.jcb {
					background-image: url(../images/payments/jcb.png);
				}
			}
		}
	}

	// Widget - custom html
	&.widget-custom-html {
		.widget-content {

			a {
				display: block;
				text-decoration: none;
				color: #595959;
				font-size: 1.875rem;
			}

			p {
				color: #a5a5a5;
				font-size: 0.875rem;

				@include media-breakpoint-down(lg) {
					text-align: left !important;
				}

				&.h4 {
					font-size: 1.5rem;
					line-height: 1.25;
				}

				&.heading-font {
					letter-spacing: 0.1rem
				}
			}
		}
	}

	// Widget - feedback
	&.widget-feedback {
		.widget-content {
			p {
				letter-spacing: 0.1rem
			}

			#widget-feedback-form {

				input {
					background-color: #f9f9f9;
					color:#d0d0d0;
				}
				
				.input-group-append {
					margin-left: -2.875rem;
				}
			}
		}
	}

	&.widget-subscribe {
		.widget-content {
			p {
				letter-spacing: 0.1rem;
				font-size:0.875rem;
			}

			#widget-subscribe-form {
				
				.input-group-append {
					margin-left: -1rem;
				}

				@include media-breakpoint-down(sm) {
					.input-group {
						display: block;

						input {
							width: 100%;
							border-radius: 1rem !important;
						}

						button {
							width: 100%;
							margin-top: 1rem;
						}

						.input-group-append {
							margin: 0 !important;
						}
					}
				}
			}

			::placeholder {
				color: #c3c3c3;
				opacity: 1; /* Firefox */
			}
			  
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #c3c3c3;
			}
			
			::-ms-input-placeholder { /* Microsoft Edge */
			color: #c3c3c3;
			}
		}
	}

	// Widget - Products
	&.widget-products {
		.widget-content {
			.product {
				display: flex;
				align-items: center;
				margin-bottom: 0.625rem;

				.product-image {
					flex: 1;
					height: 8.25rem;
					max-width: 9.75rem;
				}

				.product-details {
					flex: 1;
					padding: 0 1.25rem;					
				}

				.product-price {					
					margin-bottom: 0.625rem;
				}

				.product-title {
					a {
						color: $white;																		
					}					
				}
			}
		}
	}
}