
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.25rem; 
	position: relative;

	.sub-title-link {		
		display: block;
		font-family: $heading-font;
		color: $theme-color;
	}

	.title {
		color: $secondary;
		font-family: $heading-font;
		font-weight: 500;

	}

	p {
		font-size: 1.0625rem;
		color: $secondary;
		line-height: 1.7rem;

		@include media-breakpoint-down(sm) {
			margin-top: 0 !important;
		}
	}

	@include media-breakpoint-down(lg) {
		margin-bottom: 0.5rem;
	}

	@include media-breakpoint-down(sm) {
		padding: 0 !important;

		.sub-title-link {
			font-size: 1rem;
		}

		.title {
			font-size: 2rem;
		}
	}
}