
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.25rem; 
	position: relative;

	a {	
		color: $theme-color;	
		display: block;
		font-family: $heading-font;
		font-size: 1.5rem;
		text-decoration: none;		
	}

	.title {
		color: $secondary;
		font-weight: 500;
	}
}