
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	margin-bottom: 1.875rem;

	.icon-header {
		h4 {
			margin-bottom: 0.9375rem;
		}
		
		span {
			color: #282828;
			font-size: 1rem;
		}
	}
}