.logos {
	display: flex;
	justify-content: space-between;

	.logo-item {
		border: 1px solid #f4f2ff;
		border-radius: 1.25rem;
		max-width: 12.25rem;
		height: 7.75rem;
		width: 100%;						
		margin: auto;
		padding: 1.25rem 0;

		img {
			height: 100%;
		}
	}
} 